ul.nav {
  border-width: 1px 0;
  border-style: dotted;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
a.image-link,
ul.nav a {
  border: 0px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

h3 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

h4 {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 0;
}

header {
  display: block;
  padding-top: 40px;
}

header.title,
nav {
  margin-bottom: 21px;
}

span.dates {
  font-size: 14px;
  line-height: 21px;
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
}

footer {
  text-align: center;
  font-size: 80%;
}

figcaption {
  font-size: 80%;
  font-style: italic;
}

.job {
  text-align: center;
  margin-bottom: 21px;
  padding-top: 0;
}

.subheading {
  font-size: 17px;
  line-height: 24px;
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}